
.card {
    border-radius: 0;
    cursor: pointer;
}
.card,
.card-footer{
    background-color: #ffffa5;
    border: none;
}
.card.completed,
.card.completed .card-footer, 
.card.completed i{
    background-color: #eee;
    color: #ccc;
}
.card-footer{
    text-align: right;
}

i{
    padding-right: 5px;
    color: red;
}

